In [127]:
import pandas as pd
import numpy as np

In [152]:
!ls

First look.ipynb       Random Forest.ipynb    train_final.csv
Gradient Booster.ipynb test.csv               train_mod.csv
README.md              train.csv

In [129]:
data = pd.read_csv("./train.csv")

In [130]:
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   0.53  Very Good     G     SI1   63.4   54.0  5.09  5.13  3.24  7.057
1   1   0.41      Ideal     D     SI1   63.0   56.0  4.80  4.75  3.01  6.824
2   2   0.32      Ideal     I     VS2   61.6   56.0  4.37  4.39  2.70  6.107
3   3   0.31      Ideal     H    VVS2   61.2   56.0  4.34  4.37  2.66  6.390
4   4   1.35    Premium     J     VS2   60.5   56.0  7.19  7.12  4.33  8.741

In [131]:
data.drop('id', axis=1, inplace=True)

In [132]:
data

       carat        cut color clarity  depth  table     x     y     z  price
0       0.53  Very Good     G     SI1   63.4   54.0  5.09  5.13  3.24  7.057
1       0.41      Ideal     D     SI1   63.0   56.0  4.80  4.75  3.01  6.824
2       0.32      Ideal     I     VS2   61.6   56.0  4.37  4.39  2.70  6.107
3       0.31      Ideal     H    VVS2   61.2   56.0  4.34  4.37  2.66  6.390
4       1.35    Premium     J     VS2   60.5   56.0  7.19  7.12  4.33  8.741
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
40450   0.52    Premium     D     VS2   61.2   58.0  5.16  5.20  3.17  7.508
40451   0.52      Ideal     F     SI1   62.0   55.0  5.14  5.17  3.19  7.232
40452   0.73  Very Good     D     VS2   63.5   58.0  5.68  5.72  3.62  8.065
40453   0.31       Fair     F    VVS2   56.9   59.0  4.45  4.48  2.54  6.629
40454   0.33      Ideal     H     VS1   60.2   57.0  4.50  4.54  2.72  6.361

[40455 rows x 10 columns]

In [133]:
data.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [134]:
data.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price      float64
dtype: object

In [135]:
data.cut.value_counts() # Ordinal value

Ideal        16154
Premium      10369
Very Good     9054
Good          3663
Fair          1215
Name: cut, dtype: int64

In [136]:
data.color.value_counts() # Thought it was a Nominal value, but it turned out to be ordinal after a research.

G    8477
E    7370
F    7143
H    6196
D    5113
I    4102
J    2054
Name: color, dtype: int64

In [137]:
data.clarity.value_counts() # Ordinal value too

SI1     9867
VS2     9243
SI2     6806
VS1     6108
VVS2    3848
VVS1    2727
IF      1305
I1       551
Name: clarity, dtype: int64

In [138]:
color_map = {
    "D": 7,
    "E": 6,
    "F": 5,
    "G": 4,
    "H": 3,
    "I": 2,
    "J": 1
}

In [139]:
data["color_num"] = data.color.map(color_map)
data

,carat,cut,color,clarity,depth,table,x,y,z,price,color_num
0,0.53,Very Good,G,SI1,63.4,54.0,5.09,5.13,3.24,7.057,4
1,0.41,Ideal,D,SI1,63.0,56.0,4.80,4.75,3.01,6.824,7
2,0.32,Ideal,I,VS2,61.6,56.0,4.37,4.39,2.70,6.107,2
3,0.31,Ideal,H,VVS2,61.2,56.0,4.34,4.37,2.66,6.390,3
4,1.35,Premium,J,VS2,60.5,56.0,7.19,7.12,4.33,8.741,1
...,...,...,...,...,...,...,...,...,...,...,...
40450,0.52,Premium,D,VS2,61.2,58.0,5.16,5.20,3.17,7.508,7
40451,0.52,Ideal,F,SI1,62.0,55.0,5.14,5.17,3.19,7.232,5
40452,0.73,Very Good,D,VS2,63.5,58.0,5.68,5.72,3.62,8.065,7
40453,0.31,Fair,F,VVS2,56.9,59.0,4.45,4.48,2.54,6.629,5
40454,0.33,Ideal,H,VS1,60.2,57.0,4.50,4.54,2.72,6.361,3

In [141]:
quality_map = {
    "Ideal": 5,
    "Premium": 4,
    "Very Good": 3,
    "Good": 2,
    "Fair": 1
}

In [142]:
data["cut_num"] = data.cut.map(quality_map)
data

,carat,cut,color,clarity,depth,table,x,y,z,price,color_num,cut_num
0,0.53,Very Good,G,SI1,63.4,54.0,5.09,5.13,3.24,7.057,4,3
1,0.41,Ideal,D,SI1,63.0,56.0,4.80,4.75,3.01,6.824,7,5
2,0.32,Ideal,I,VS2,61.6,56.0,4.37,4.39,2.70,6.107,2,5
3,0.31,Ideal,H,VVS2,61.2,56.0,4.34,4.37,2.66,6.390,3,5
4,1.35,Premium,J,VS2,60.5,56.0,7.19,7.12,4.33,8.741,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,0.52,Premium,D,VS2,61.2,58.0,5.16,5.20,3.17,7.508,7,4
40451,0.52,Ideal,F,SI1,62.0,55.0,5.14,5.17,3.19,7.232,5,5
40452,0.73,Very Good,D,VS2,63.5,58.0,5.68,5.72,3.62,8.065,7,3
40453,0.31,Fair,F,VVS2,56.9,59.0,4.45,4.48,2.54,6.629,5,1
40454,0.33,Ideal,H,VS1,60.2,57.0,4.50,4.54,2.72,6.361,3,5

In [143]:
clarity_map = {
    "IF": 8,
    "VVS1": 7,
    "VVS2": 6,
    "VS1": 5,
    "VS2": 4,
    "SI1": 3,
    "SI2": 2,
    "I1": 1
}

In [144]:
data["clarity_num"] = data.clarity.map(clarity_map)
data

,carat,cut,color,clarity,depth,table,x,y,z,price,color_num,cut_num,clarity_num
0,0.53,Very Good,G,SI1,63.4,54.0,5.09,5.13,3.24,7.057,4,3,3
1,0.41,Ideal,D,SI1,63.0,56.0,4.80,4.75,3.01,6.824,7,5,3
2,0.32,Ideal,I,VS2,61.6,56.0,4.37,4.39,2.70,6.107,2,5,4
3,0.31,Ideal,H,VVS2,61.2,56.0,4.34,4.37,2.66,6.390,3,5,6
4,1.35,Premium,J,VS2,60.5,56.0,7.19,7.12,4.33,8.741,1,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,0.52,Premium,D,VS2,61.2,58.0,5.16,5.20,3.17,7.508,7,4,4
40451,0.52,Ideal,F,SI1,62.0,55.0,5.14,5.17,3.19,7.232,5,5,3
40452,0.73,Very Good,D,VS2,63.5,58.0,5.68,5.72,3.62,8.065,7,3,4
40453,0.31,Fair,F,VVS2,56.9,59.0,4.45,4.48,2.54,6.629,5,1,6
40454,0.33,Ideal,H,VS1,60.2,57.0,4.50,4.54,2.72,6.361,3,5,5

In [145]:
data.drop(["cut", "clarity", "color"], axis=1, inplace=True)

In [146]:
data.head()

,carat,depth,table,x,y,z,price,color_num,cut_num,clarity_num
0,0.53,63.4,54.0,5.09,5.13,3.24,7.057,4,3,3
1,0.41,63.0,56.0,4.80,4.75,3.01,6.824,7,5,3
2,0.32,61.6,56.0,4.37,4.39,2.70,6.107,2,5,4
3,0.31,61.2,56.0,4.34,4.37,2.66,6.390,3,5,6
4,1.35,60.5,56.0,7.19,7.12,4.33,8.741,1,4,4

In [147]:
data.corr()

,carat,depth,table,x,y,z,price,color_num,cut_num,clarity_num
carat,1.000000,0.025261,0.182888,0.974744,0.950639,0.948895,0.920846,-0.288273,-0.134595,-0.351818
depth,0.025261,1.000000,-0.298380,-0.028188,-0.032829,0.091738,-0.000533,-0.048465,-0.214650,-0.061204
table,0.182888,-0.298380,1.000000,0.197226,0.185480,0.150606,0.159950,-0.026079,-0.431898,-0.165201
x,0.974744,-0.028188,0.197226,1.000000,0.973473,0.966374,0.957934,-0.266965,-0.125591,-0.370832
y,0.950639,-0.032829,0.185480,0.973473,1.000000,0.946517,0.934832,-0.260443,-0.121415,-0.357405
z,0.948895,0.091738,0.150606,0.966374,0.946517,1.000000,0.931147,-0.263838,-0.148694,-0.363581
price,0.920846,-0.000533,0.159950,0.957934,0.934832,0.931147,1.000000,-0.153137,-0.088745,-0.213545
color_num,-0.288273,-0.048465,-0.026079,-0.266965,-0.260443,-0.263838,-0.153137,1.000000,0.019255,-0.027977
cut_num,-0.134595,-0.214650,-0.431898,-0.125591,-0.121415,-0.148694,-0.088745,0.019255,1.000000,0.187300
clarity_num,-0.351818,-0.061204,-0.165201,-0.370832,-0.357405,-0.363581,-0.213545,-0.027977,0.187300,1.000000

In [148]:
data.dtypes

carat          float64
depth          float64
table          float64
x              float64
y              float64
z              float64
price          float64
color_num        int64
cut_num          int64
clarity_num      int64
dtype: object

In [151]:
data.to_csv("./train_final.csv")

In [155]:
# Let's clean the Test Set too!
data1 = pd.read_csv("./test.csv")

In [156]:
data1.head()

   id  carat        cut color clarity  depth  table     x     y     z
0   0   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74
1   1   0.41      Ideal     E     VS2   61.8   54.0  4.79  4.76  2.95
2   2   0.91  Very Good     E     SI2   62.5   59.0  6.16  6.23  3.87
3   3   0.42  Very Good     G     VS2   62.6   57.0  4.76  4.80  2.99
4   4   0.54      Ideal     G      IF   61.5   56.0  5.28  5.25  3.24

In [158]:
data1["color_num"] = data1.color.map(color_map)
data1

,id,carat,cut,color,clarity,depth,table,x,y,z,color_num
0,0,0.33,Ideal,H,IF,61.9,55.0,4.44,4.42,2.74,3
1,1,0.41,Ideal,E,VS2,61.8,54.0,4.79,4.76,2.95,6
2,2,0.91,Very Good,E,SI2,62.5,59.0,6.16,6.23,3.87,6
3,3,0.42,Very Good,G,VS2,62.6,57.0,4.76,4.80,2.99,4
4,4,0.54,Ideal,G,IF,61.5,56.0,5.28,5.25,3.24,4
...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.55,Ideal,F,SI1,61.7,56.4,5.26,5.30,3.25,5
13481,13481,1.12,Premium,H,VS2,60.6,59.0,6.77,6.70,4.08,3
13482,13482,0.37,Ideal,D,SI1,61.5,57.0,4.63,4.60,2.84,7
13483,13483,0.54,Good,E,SI1,59.9,63.0,5.25,5.30,3.16,6
13484,13484,0.93,Ideal,J,VS1,62.3,56.0,6.26,6.22,3.89,1

In [160]:
data1["cut_num"] = data1.cut.map(quality_map)
data1

,id,carat,cut,color,clarity,depth,table,x,y,z,color_num,cut_num
0,0,0.33,Ideal,H,IF,61.9,55.0,4.44,4.42,2.74,3,5
1,1,0.41,Ideal,E,VS2,61.8,54.0,4.79,4.76,2.95,6,5
2,2,0.91,Very Good,E,SI2,62.5,59.0,6.16,6.23,3.87,6,3
3,3,0.42,Very Good,G,VS2,62.6,57.0,4.76,4.80,2.99,4,3
4,4,0.54,Ideal,G,IF,61.5,56.0,5.28,5.25,3.24,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.55,Ideal,F,SI1,61.7,56.4,5.26,5.30,3.25,5,5
13481,13481,1.12,Premium,H,VS2,60.6,59.0,6.77,6.70,4.08,3,4
13482,13482,0.37,Ideal,D,SI1,61.5,57.0,4.63,4.60,2.84,7,5
13483,13483,0.54,Good,E,SI1,59.9,63.0,5.25,5.30,3.16,6,2
13484,13484,0.93,Ideal,J,VS1,62.3,56.0,6.26,6.22,3.89,1,5

In [161]:
data1["clarity_num"] = data1.clarity.map(clarity_map)
data1

,id,carat,cut,color,clarity,depth,table,x,y,z,color_num,cut_num,clarity_num
0,0,0.33,Ideal,H,IF,61.9,55.0,4.44,4.42,2.74,3,5,8
1,1,0.41,Ideal,E,VS2,61.8,54.0,4.79,4.76,2.95,6,5,4
2,2,0.91,Very Good,E,SI2,62.5,59.0,6.16,6.23,3.87,6,3,2
3,3,0.42,Very Good,G,VS2,62.6,57.0,4.76,4.80,2.99,4,3,4
4,4,0.54,Ideal,G,IF,61.5,56.0,5.28,5.25,3.24,4,5,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.55,Ideal,F,SI1,61.7,56.4,5.26,5.30,3.25,5,5,3
13481,13481,1.12,Premium,H,VS2,60.6,59.0,6.77,6.70,4.08,3,4,4
13482,13482,0.37,Ideal,D,SI1,61.5,57.0,4.63,4.60,2.84,7,5,3
13483,13483,0.54,Good,E,SI1,59.9,63.0,5.25,5.30,3.16,6,2,3
13484,13484,0.93,Ideal,J,VS1,62.3,56.0,6.26,6.22,3.89,1,5,5

In [162]:
data1.drop(["cut", "clarity", "color", "id"], axis=1, inplace=True)

In [163]:
data1.head()

   carat  depth  table     x     y     z  color_num  cut_num  clarity_num
0   0.33   61.9   55.0  4.44  4.42  2.74          3        5            8
1   0.41   61.8   54.0  4.79  4.76  2.95          6        5            4
2   0.91   62.5   59.0  6.16  6.23  3.87          6        3            2
3   0.42   62.6   57.0  4.76  4.80  2.99          4        3            4
4   0.54   61.5   56.0  5.28  5.25  3.24          4        5            8

In [164]:
data1.to_csv("./test_final.csv")